

/* 因为ele插件是px  而这里用的是rem布局初始 1rem = 20px */
/* 此样式表为了兼容大小什么的 */



/* app-footer wechat */
.el-popover{
    width: 10rem;
    min-width: 10rem;
}
.el-popover__title{
    font-size: 0.8rem;
}
.wechat .el-button{
    padding: 0.6rem 1rem;
    margin-right: 0.5rem;
}
/*  删除等操作弹框 */
.el-popup-parent--hidden{
    padding-right: 0 !important;
}
/* // 登录成功或者失败提示框 */
    .el-notification{
        top: 5rem !important;
}
/* 表格 */
.el-table td, .el-table th{
    padding: 0.6rem 0;
    text-align: center;
}
.el-table td form{
    text-align: left;
}
.el-table .cell{
    line-height: 1.1rem;
}
.el-table .cell,
.el-table th div, 
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell{
    padding-left: 0.5rem;
}
.el-table .cell, .el-table th div{
    padding-right: 0.5rem;
}
.el-table th div{
    line-height: 2rem;
}
.el-table__expand-icon{
    height: 1rem;
}
.el-table__expanded-cell[class*=cell]{
    padding: 1rem 2.5rem;
}
.el-table th, .el-table tr{
    background-color: #e7f2fb;
}
.el-button{
    text-align: center;
}
/* 左侧菜单 */
.el-submenu__title{
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1rem;
    padding-left:1rem !important;
}
.el-submenu .el-menu-item {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 2.25rem;
    padding-left: 2rem !important;
    min-width: 10rem;
}
.el-menu-item{
    padding: 0 1rem;
    padding-left: 1rem !important;
}
.el-menu-item, .el-submenu__title{
    height: 2.8rem;
    line-height: 2.8rem;
}
.el-menu--popup{
    padding: 0;
}
.el-menu--vertical{
    width: 10rem !important;
    overflow: hidden;
    border: 0.05rem solid #ececec;
}
.el-menu--vertical .el-menu-item{
    background-color: #f6f6f6;
    border-bottom: 1px solid #ececec;
}
.el-submenu [class^=el-icon-]{
    margin-right: 0.25rem;
    width: 1.2rem;
    font-size: 0.9rem;
}
.el-submenu__icon-arrow{
    right: 1rem;
    margin-top: -0.35rem;
    font-size: 0.6rem;
}
.el-menu-item-group__title{
    padding: 0.35rem 0 0.35rem 1rem;
    line-height: normal;
    font-size: 0.6rem;
}
/* 我的客服页 和appFooter  弹框*/
.el-tooltip__popper[x-placement^=top]{
    margin-bottom: 0.6rem;
}
.el-tooltip__popper[x-placement^=right]{
    margin-left: 0.6rem;
}
.el-tooltip__popper{
    font-size: 0.6rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    min-width:0.5rem;
}
.el-popover--plain{
    padding: 0.9rem 1rem;
    width: 10rem !important;
}
/* 右上侧弹窗 */
.el-notification{
    width: 16.5rem;
    padding: 0.7rem 1.3rem 0.7rem 0.65rem;
    border-width: 0.05rem;
}
.el-notification__icon{
    height: 1.2rem;
    width: 1.2rem;
    font-size: 1.2rem;
}
.el-notification__group{
    margin-left: 0.65rem;
}
.el-notification__title{
    font-size: 0.8rem;
}
.el-notification__content{
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin-top: 0.3rem;
}
.el-notification__closeBtn{
    top: 0.9rem;
    right: 0.75rem;
    font-size: 0.8rem;
}
.el-badge__content.is-dot{
    height: 0.4rem;
    width: 0.4rem;
}
.el-badge__content{
    font-size: 0.6rem;
    height: 0.9rem;
    line-height: 0.9rem;
    padding: 0 0.3rem;
    border: 0.05rem solid #fff;
    border-radius: 0.5rem;
}
/* label from 表单类 */
.el-form-item__content{
    line-height: 2rem;
}
.el-form-item__label{
    line-height: 2rem;
    padding-right: 0.6rem;
}
.el-form-item{
    margin-bottom: 1.1rem;
}
.el-form-item__error{
    font-size: 0.6rem;
    padding-top: 0.2rem;
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
    margin-right: 0.2rem;
}
.el-input__inner{
    border-radius: 0.2rem;
    border: 0.05rem solid #dcdfe6;
    height: 2rem;
    line-height: 2rem;
    padding:0 0.75rem;
}
.el-input__suffix{
    right: 0.25rem;
}
.el-input__icon{
    width: 1.25rem;
    line-height: 2rem;
}
.el-input--mini .el-input__inner{
    height: 1.4rem;
    line-height: 1.4rem;
}
.el-input-number{
    width: 10rem;
    line-height: 1.9rem;
    border: 1px solid #dcdfe6;
}
.el-input-number__decrease,
.el-input-number__increase{
     width: 2rem;
     font-size: 0.65em;
     border-radius:0.2rem 0 0.2rem;
     border-width: 0.05rem;
 }
 .el-textarea__inner{
     padding: 0.25rem 0.75rem;
 }
 .el-input-number .el-input__inner{
     padding-left: 2.5rem;
     padding-right: 2.5rem;
     border: none;
 }
 .el-tag{
     font-size: 0.6rem;
 }
 .el-tag--small{
     height: 1.2rem;
     padding: 0 0.4rem;
     line-height: 1.2rem;
 }
 /* .el-select .el-tag{
     margin: 0.1rem 0 0.1rem 0.3rem;
 } */
.el-radio__label{
    padding-left: 0.5rem;
}
.el-radio__inner{
    border: 0.05rem solid #dcdfe6;
    width: 0.7rem;
    height: 0.7rem;
}
.el-radio+.el-radio{
    margin-left: 1.5rem;
}
.el-button{
    border: 0.05rem solid #dcdfe6;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
}
.el-button.is-circle{
    padding: 0.6rem;
    border-radius: 100%;
}
.el-button--mini.is-circle{
    padding: 0.35rem;     
}
.el-button.is-round{
    padding: 0.6rem 1.1rem;
}
.el-select-dropdown__item{
    padding: 0 1rem;
    height: 1.7rem;
    line-height: 1.7rem;
}
.el-message{
    top: 7rem;
    min-width: 15rem;
    border-width: 0.05rem;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    border-radius: 0.2rem;
}
.el-message__icon{
    margin-right: 0.5rem;
}
.el-message.is-closable .el-message__content{
    padding-right: 0.8rem;
}
.el-message__closeBtn{
    font-size: 0.8rem;
    right: 0.75rem;
}
.el-message-box{
    width: 25rem;
    font-size: 0.9rem;
}
.el-collapse-item__header{
    height: 2.4rem;
    line-height: 2.4rem;
}
.el-collapse-item__arrow{
    margin-right: 0.6rem;
    line-height: 2.4rem;
}
.el-collapse-item__content{
    padding-bottom: 1.25rem;
    font-size: 0.65em;
}
.el-dialog{
    margin: 0 auto 2.5rem;
    border-radius: 0.1rem;
}
.el-dialog__header{
    padding: 1rem 1rem 0.5rem;
}
.el-dialog__body{
    padding:  1.5rem 1rem;
}
.el-dialog__title{
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.el-dialog__headerbtn{
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}
.el-select-dropdown__empty,
.el-textarea,
.el-menu-item,
.el-table,
.el-dialog__body,
.el-message__content,
.el-submenu__title,
.el-submenu__title,
.el-submenu .el-menu-item,
.el-popover,
.el-form-item__content,
.el-form-item__label,
.el-input,
.el-radio, 
.el-radio--medium.is-bordered .el-radio__label,
.el-select .el-input .el-select__caret,
.el-select-dropdown__item,
.el-radio__label,
.el-button{
    font-size: 0.7rem;
}
@media only screen and (max-width:1200px){
    .newOrder .el-form--label-left .el-form-item__label{
        width: 10rem !important;
    }
    .newOrder .el-form-item__content{
        margin-left: 10rem !important;
    }
    .newOrder .el-form-item{
        margin-bottom: 1.3rem;
    }
}
@media only screen and (max-width:992px){
    .userLogin .el-form-item__content{
        margin-left: 8rem !important;
    }
    .el-badge__content.is-dot{
        width: 0.5rem;
        height: 0.5rem;
    }
    .el-badge__content.is-fixed.is-dot{
        right: 0.3rem !important;  
    }
}
@media only screen and (max-width:768px){
    .userLogin .form-cont{
        margin-top: 3rem !important;
    }
    .userLogin .top-header-cont{
        padding-top: 2rem !important;
    }
    .userLogin .el-form-item {
        margin-bottom: 2rem !important;
    }
    .userLogin .el-input__inner{
        height: 3rem !important;
    }
    .userLogin .el-form-item__label{
        line-height: 3rem !important;
    }
    .userLogin .el-form-item__content{
        line-height: 3rem !important;
    }
    .el-radio__inner{
        width: 1rem;
        height: 1rem;
    }
    .el-select-dropdown__item{
        margin-bottom: 0.7rem;
    }
    .el-table__expanded-cell[class*=cell]{
        padding: 0.1rem 0.5rem;
    }
    .el-form-item__label{
        padding-right: 0;
    }
    .el-tag--small{
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .el-button--mini.is-circle{
        padding: 0.6rem;     
    }
}